* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contenedor {
    width: 900px;
    background-color: black;
    border: solid black 2px;
    margin: 0 auto;
}

.datos {
    background-color: lightgreen;
    padding: 10px;
    border: solid black 2px;
}

.filtros {
    background-color: lightgreen;
    padding: 10px;
    border: solid black 2px;
}

.tareas {
    background-color: lightgreen;
    padding: 10px;
    border: solid black 2px;
}

.tareas li {
    padding: 10px;
    margin-bottom: 5px;
}

.normal {
    background-color: lightgray;
}

.rojo {
    background-color: red;
}

.tareas a {
    text-decoration: none;
    background-color: tomato;
    color: white;
    float: right;
    padding: 5px;
    margin: -5px 10px;
}

.titulo {
    background-color: black;
    color: white;
    padding: 10px;
}